/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
.wrapper{
    width: 100%;
    padding: 50px;
}
.consulting-container {
    width: 1220px;
    margin: 0 auto;
}
.consulting {
    max-width: 1252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
    padding: 0 18px;
}
.consulting__header{
    margin:0 -18px;
}

.consulting__subtitle-header {
    color: #37393F;
font-family: "Inter", sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 1.2;
text-align: center;
display: flex;
justify-content: center;
column-gap: 6px;
margin-bottom: 20px;
}
.consulting__subtitle-header::before{
    content: "";
    width: 12px;
height: 12px;
background: #40DDB6;
align-self: center;

}
.consulting__title-header {
    font-family: "Poppins", sans-serif;
    color: #37393F;
text-align: center;
font-size: 40px;
font-weight: 700;
line-height: 1.2;
margin-bottom: 43px;
}
.consulting__form {
    display: flex;
    row-gap: 28px;
    flex-wrap: wrap;
    margin: 0 18px;
    font-family: "Inter", serif;
    font-size: 18px;
}
.consulting__container {
    padding: 0 18px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
}
.consulting__item {
    border: 1px solid #DDD;
    background-color: #F8F8F8;
    width: 100%;
    min-height: 65px;
    min-width: 200px;
    padding: 0 40px;
}
.consulting__text-form {
    padding: 0 18px;
    width: 1220px;
}
.consulting__text {
    width: 100%;
    padding: 22px 0 0 40px;
    min-height: 222px;
    border: 1px solid #DDD;
    background: #F8F8F8;
    margin-bottom: 50px;
    flex: 0 1 1220px;
    resize: vertical;
}
.consulting__button {
    background-color: #6B77E5;
    color: #FFF;
transition: all 0.3s;
font-family: "Inter",sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1.2;
text-transform: capitalize;
padding: 22px 61px;
height: 65px;
margin: 0 auto;
}
.consulting__button:hover{
    background-color: #343d8f;
}
.consulting__btn{
text-align: center;
margin: 0 auto;
}
.eu{
    max-width: 895px;
    margin: 0 auto;
}
.eu__container {
    max-width: 895px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.eu__title {
    color: #3C4242;
margin-bottom: 25px;
font-family: "Core Sans C", sans-serif;
font-size: 28px;
font-weight: 600;
line-height: 1.12;
}
.eu__subtitle {
    color: #3C4242;
margin-bottom: 55px;
font-family: "Core Sans C", sans-serif;
font-size: 22px;
font-weight: 600;
}
.eu-forms {
    margin-bottom: 32px;
    margin:0 -21px;
}
.eu__form {
  
    
}
.eu__form-box{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 50%;
    column-gap: 42px;
    padding:0 20px;
    margin-bottom: 30px;
    row-gap: 28px;
}
.eu__block {
    display: flex;
    flex-direction: column;
    flex: 0 1 40%;
    row-gap: 11px;
    
}
.eu__name {
    color: #3C4242;
margin-bottom: 12px;
    font-family: "Causten",sans-serif;
font-size: 18px;
font-weight: 600;
line-height: 1.2;
}
.eu__item,
.eu__textarea {
    min-height: 55px;
    background-color: #F6F6F6;
    min-width: 420px;
    padding: 18px 15px 18px 22px;
    color: #807D7E;
width: 100%;
font-family: "Causten",sans-serif;
font-weight: 400;
line-height: 1.2;
color: #807D7E;
font-size: 16px;
transition: all 0.3s;
}
.eu__label::before, .check__lab-save::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #BEBCBD;
    flex: 0 0 20px;
    transition: all 0.3s;
    position: relative;
    top: 4px;
}
.eu__item:focus{
box-shadow: 0 5px 5px #37393F;
}
.eu__textarea{
    min-height: 150px;
    resize: vertical;
    margin-bottom: 30px;
}
.eu__text {
    width: 100%;
}
.eu__check {
    color: #3C4242;
    font-family: "Causten",sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 1.2;
margin-bottom: 50px;
}
.eu__buttons {
    display: flex;
    column-gap: 30px;
}
.eu__buttons button{
    text-align: center;
    font-family: "Causten",sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 1.2;
padding: 12px 40px;


}
.eu__save-button {
    background-color: #8A33FD;
color: #FFFFFF;
border-radius: 8px;
transition: all 0.3s;
}
.eu__reset-button {
    background-color: #F6F6F6;
color: #807D7E;
border: 1px solid #807D7E;
border-radius: 8px;
transition: all 0.3s;
}
.eu__reset-button:hover{
    background-color: #8A33FD;
color: #FFFFFF;
box-shadow:0 0 5px 5px #343d8f;
border: none;
}
.eu__save-button:hover{
box-shadow:0 0 5px 5px #343d8f;
}
.check__container {
    max-width: 805px;
    margin: 0 auto;
}
.check__header {
    color: #3C4242;
    font-family:" Core Sans C", sans-serif;
    margin-bottom: 50px;
}
.check__title {
font-size: 28px;
font-weight: 600;
line-height: 1.2;
margin-bottom: 20px;
display: flex;
gap: 15px;
}
.check__title::before{
    content: "";
    width: 6px;
    height: 28px;
    background-color: #8A33FD;
    border-radius: 10px;
align-self: center;
}
.check__subtitle {
font-size: 22px;
font-weight: 600;
line-height: 1.5;
}
.check__forms {
    display: flex;
    column-gap: 38px;
    flex-wrap: wrap;
    row-gap: 28px;
    margin-bottom: 28px;
    max-width: 802px;
    flex: 0 1 50%;
    margin:0 -16px 25px -16px;
}
.check__block {
    padding:0 16px;
    font-family: "Causten",sans-serif;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-width: 382px;
}
.check__adress-block{
    font-family: "Causten",sans-serif;
    line-height: 1.2;
    flex: 0 1 30%;
    padding:0 16px;
    min-width: 245px;
}
.check__name {
    color: #3C4242;
font-size: 16px;
font-weight: 600;
}
.check__item {
    width: 100%;
    min-height: 49px;
    max-width: 382px;
    background-color: #F6F6F6;
    border-radius: 8px;
    color: #807D7E;
font-size: 14px;
font-weight: 400;
padding: 16px 20px;
}
.check__adress {
    display: flex;
    gap: 32px;
    margin-bottom: 25px;
    margin:0 -16px;
    flex-wrap: wrap;
    max-width: 802px;
    margin-bottom: 25px;
}
.check__phone {
    color: #3C4242;
font-family: "Causten",sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 1.2;
margin-bottom: 43px;
display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.check__continue {
    margin-bottom: 20px;
}
.check__btn-continue{
    height: 54px;
    background-color: #8A33FD;
    border-radius: 8px;
    padding: 16px 20px;
    color: #FFF;
    text-align: center;
    font-family: "Causten",sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    transition: all 0.3s;
}
.check__btn-continue:hover{
    background-color: #702dc7;
    box-shadow:0 0 10px 2px #343d8f;
}
.check__lab-save {
    color: #3C4242;
    font-family: "Causten",sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1.2;

}
.check__save{
    margin-bottom: 62px;
}
.check__shipping-adress ,
.check__shipping-method{
    color: #3C4242;
    font-family: "Causten",sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.2;
}
.check__shipping-adress h3,
.check__shipping-method h3{
    font-family: "Core Sans C",sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5; 
    margin-bottom: 10px;
}
.check__shipping-adress h4{
    margin-bottom: 30px;
}
.check__radios,
.check__methods{
    max-width: 840px;
    background-color: #F6F6F6;
    padding: 38px 28px;
    margin-bottom: 60px;

   
}

    .check__lab-radio,
    .check__meth{
        
        color: #3C4242;

font-family: "Causten",sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 1.2;
    }
    .check__meth{
        padding-bottom: 50px;
    }
    .check__span-meth{
        color: #807D7E;
font-size: 16px;
font-weight: 500;

    }
    
    
    .check__methods::after{
      
        }
.check__pay {
    width: 840px;
    background-color: #F6F6F6;
    padding: 45px 48px 45px 28px;
    margin-bottom: 60px;
}
.check__comment-pay{
    color: #3C4242;
font-family: "Causten",sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.2;
position: relative;
bottom: 35px;
}
.check__img-pay img{
    width: 80px;
    height: 46px;
}
.check__img-pay{
    margin-bottom: 30px;
    display: flex;
    column-gap: 20px;
}
.check__forms-pay{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
}
.check__form-pay{
    min-height: 49px;
    background-color: #F6F6F6;
    min-width: 337px;
    padding: 16px 20px;
    color: #807D7E;
width: 100%;
font-family: "Causten",sans-serif;
font-weight: 400;
line-height: 1.2;
color: #807D7E;
font-size: 14px;
border: 1px solid #3C4242;
border-radius: 8px;
display: flex;
}
.check__img-form-pay{
position: relative;
bottom: 35px;
left: 297px;
padding-right: 20px;
}
.check__pay-now a {
    background-color: #8A33FD;
    height: 54px;
    padding: 16px 20px;
    border-radius: 8px;
    color: #FFF;
text-align: center;
font-family: "Causten",sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 1.2;
transition: all 0.3s;
}
.check__pay-now a:hover{
    background-color: #6826be;
}
.eu__label{
    display: inline-flex;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 12px;
}

.eu__label-box{
    margin-bottom: 50px;
}
.eu__checkbox,
.check__save,
.check__radio{
    position: relative;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
}

.eu__checkbox:checked + .eu__label::before,
.check__save:checked + .check__lab-save::before{
background: url("../img/down.svg") 0 0 / contain no-repeat;
}
.check__radio {
    margin-bottom: 50px;
}
.check__lab-radio:not(:last-child),
.check__meth:not(:last-child),
.check__forms-pay:not(:last-child){
padding-bottom: 25px;
border-bottom: 1px solid #bebcbd;
margin-bottom: 25px;

}
.check__lab-radio--pure{
padding: 0;
border-bottom: none;
}
.check__lab-radio::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #3C4242;
    flex: 0 0 20px;
    transition: all 0.3s;
    box-shadow:0 0 1px 3px #FFFFFF inset;
    position: relative;
    right: 5px;
    top: 4px;
}
.check__radio:checked + .check__lab-radio::before{
    background: #807D7E;
}
.check__meth--flex{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.check__meth--flex div{
    flex-grow: 1;
   
}
