@import url("fonts.css");
/* Скидання стилів */
@import url("reset.css");

.car {
    width: 50%;
    margin:0 auto 100px;
    position: relative;
    bottom: 300px;

}
.box-glass {
    width: 0;
    height: 0;
    border-bottom: 400px solid rgb(214, 233, 47);
    border-left: 200px solid transparent;
    border-radius: 40px 0 150px ;
    transform: rotate(243deg);
}
.glass {
    width: 0;
    height: 0;
    border-bottom: 400px solid rgb(42, 43, 39);
    border-left: 200px solid transparent;
    border-radius: 40px 0 150px ;
    transform: rotate(243deg);
    transform: scale(.8);
    position: relative;
    bottom: -20px;
    right: 200px;
}
.line {
    width: 20px;
    height: 100px;
    background-color:  rgb(214, 233, 47);
    position: relative;
    bottom: 300px;
    left: 75px;
}
.body {
    width: 700px;
    height: 100px;
    background-color:rgb(214, 233, 47) ;
    border-radius: 2000px 1800px 0 0;
    transform: skewX(30deg);
    position: relative;
    bottom: 305px;
    right: 220px;
}
.bumper {
    width: 720px;
    height: 50px;
    border-radius: 0 50px 50px 50px ;
    background-color: rgb(219, 165, 114);
    position: relative;
    bottom: 305px;
    right: 190px;
}
.line2 {
    width: 270px;
    height: 50px;
    border-radius:50px ;
    background-color: rgb(219, 165, 114);
    position: relative;
    bottom: 520px;
    left: 80px;
}
.wheel {
    width: 130px;
    height: 130px;
    background-color: rgb(151, 158, 158);
    border: 30px solid black;
    border-radius: 50%;
    position: relative;
    bottom: 520px;
    left: 280px;
    transition-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes round{
    0%{
        transform: rotate(-360deg);
    }
}
.circle1,
.circle2,
.circle3,
.circle4 {
    width: 20px;
    height: 20px;
    background-color: rgb(73, 70, 70);
    border-radius: 50%;
    position: relative;
}
.car:hover .wheel{
    animation: round 1s linear infinite;
}
.car:hover .wheel2{
    animation: round 1s linear infinite;
}
.circle1{
    left: 20px;
    bottom: 23px;
}
.circle2 {
    top: 0;
    left: 75px;
}
.circle3 {
right: 22px;
bottom: 10px;
}
.circle4 {
    left: 35px;
    top: 12px;
}

.wheel2 {
    width: 130px;
    height: 130px;
    background-color:  rgb(151, 158, 158);
    border: 30px solid black;
    border-radius: 50%;
    position: relative;
    bottom: 650px;
    right: 140px;
}
.light-left {
    width: 40px;
    height: 50px;
    background-color: rgb(136, 10, 10);
    border-radius: 40%;
    position: relative;
    bottom: 425px;
    right: 205px;
}
.light-right {
    width: 0;
    height: 0;
    border-right: 60px solid transparent;
    border-bottom: 40px solid rgb(104, 104, 101);
    position: relative;
    bottom: 470px;
    left: 420px;
    border-radius: 20%;
}
.tuning {
        width: 30px;
        height: 100px;
        background-color:rgb(214, 233, 47) ;
        transform: rotate(140deg);
        position: relative;
        bottom: 930px;
        right: 150px;
}
.tuning2 {
    width: 0;
    height: 0;
    border-right: 80px solid transparent;
    border-bottom: 60px solid rgb(214, 233, 47);
    position: relative;
        bottom: 1067px;
        right: 190px;
    border-radius: 20%;
}
.shine{
    width: 0;
    height: 0;
    border-left: 260px solid transparent;
    border-bottom: 100px solid rgba(231, 231, 49, 0.789);
    position: relative;
    bottom: 1050px;
    left: 500px; 
    visibility: hidden;
}
.car:hover .shine{
visibility: visible;
} 
.container{
    width: 800%;
    height: 300px;
    animation: move 5s linear infinite normal none;
    background: url("../img/cartoon.jpg");
    margin-top: 200px;
}
.fone{
    width: 800%;
    height: 300px;
    background: url("../img/cartoon.jpg");
   margin-top: 200px; 
}
.box-car{
    
}
@keyframes move {
	0% {
		transform: translateX(500px);}
}
.main-header,
.header{
width: 100%;
height: 150px;
background: radial-gradient(circle, rgba(187,146,164,0.7567401960784313) 3%, rgba(41,189,121,1) 100%);;
padding: 50px;
}

.title{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}
.box-clock {
    width: 100%;
    margin: 100px;
    font-size: 30px;
    font-weight: 600;
}
.clock {
    margin: 0 auto 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
}
.twelve {
    position: relative;
    left: 83px;
}
.six {
    position: relative;
    top: 137px;
    left: 90px;
}
.three {
    position: relative;
    left: 178px;
    top: 20px;
}
.nine {
    position: relative;
    bottom: 8px;
    left: 5px;
}
.arrow {
    width: 5px;
    height: 70px;
    background-color: black;
    position: relative;
    left: 591px;
    bottom: 250px;
}
.center{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    left: 95px;
    bottom: 25px;
    transform-origin: 55px 0;
    animation: arrow 60s steps(1 start) 0 infinite ;
}
@keyframes arrow{
    0%{
        transform: rotate(360deg);
    }
}
