@import url("fonts.css");
/* Скидання стилів */
@import url("reset.css");

.car {
    width: 50%;
    margin:0 auto 100px;
    position: relative;
    bottom: 300px;

}
.box-glass {
    width: 0;
    height: 0;
    border-bottom: 400px solid rgb(214, 233, 47);
    border-left: 200px solid transparent;
    border-radius: 40px 0 150px ;
    transform: rotate(243deg);
}
.glass {
    width: 0;
    height: 0;
    border-bottom: 400px solid rgb(42, 43, 39);
    border-left: 200px solid transparent;
    border-radius: 40px 0 150px ;
    transform: rotate(243deg);
    transform: scale(.8);
    position: relative;
    bottom: -20px;
    right: 200px;
}
.line {
    width: 20px;
    height: 100px;
    background-color:  rgb(214, 233, 47);
    position: relative;
    bottom: 300px;
    left: 75px;
}
.body {
    width: 700px;
    height: 100px;
    background-color:rgb(214, 233, 47) ;
    border-radius: 2000px 1800px 0 0;
    transform: skewX(30deg);
    position: relative;
    bottom: 305px;
    right: 220px;
}
.bumper {
    width: 720px;
    height: 50px;
    border-radius: 0 50px 50px 50px ;
    background-color: rgb(219, 165, 114);
    position: relative;
    bottom: 305px;
    right: 190px;
}
.line2 {
    width: 270px;
    height: 50px;
    border-radius:50px ;
    background-color: rgb(219, 165, 114);
    position: relative;
    bottom: 520px;
    left: 80px;
}
.wheel {
    width: 130px;
    height: 130px;
    background-color: rgb(151, 158, 158);
    border: 30px solid black;
    border-radius: 50%;
    position: relative;
    bottom: 520px;
    left: 280px;
    transition-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes round{
    0%{
        transform: rotate(-360deg);
    }
}
.circle1,
.circle2,
.circle3,
.circle4 {
    width: 20px;
    height: 20px;
    background-color: rgb(73, 70, 70);
    border-radius: 50%;
    position: relative;
}
.car:hover .wheel{
    animation: round 1s linear infinite;
}
.car:hover .wheel2{
    animation: round 1s linear infinite;
}
.circle1{
    left: 20px;
    bottom: 23px;
}
.circle2 {
    top: 0;
    left: 75px;
}
.circle3 {
right: 22px;
bottom: 10px;
}
.circle4 {
    left: 35px;
    top: 12px;
}

.wheel2 {
    width: 130px;
    height: 130px;
    background-color:  rgb(151, 158, 158);
    border: 30px solid black;
    border-radius: 50%;
    position: relative;
    bottom: 650px;
    right: 140px;
}
.light-left {
    width: 40px;
    height: 50px;
    background-color: rgb(136, 10, 10);
    border-radius: 40%;
    position: relative;
    bottom: 425px;
    right: 205px;
}
.light-right {
    width: 0;
    height: 0;
    border-right: 60px solid transparent;
    border-bottom: 40px solid rgb(104, 104, 101);
    position: relative;
    bottom: 470px;
    left: 420px;
    border-radius: 20%;
}
.tuning {
        width: 30px;
        height: 100px;
        background-color:rgb(214, 233, 47) ;
        transform: rotate(140deg);
        position: relative;
        bottom: 930px;
        right: 150px;
}
.tuning2 {
    width: 0;
    height: 0;
    border-right: 80px solid transparent;
    border-bottom: 60px solid rgb(214, 233, 47);
    position: relative;
        bottom: 1067px;
        right: 190px;
    border-radius: 20%;
}
.shine{
    width: 0;
    height: 0;
    border-left: 260px solid transparent;
    border-bottom: 100px solid rgba(231, 231, 49, 0.789);
    position: relative;
    bottom: 1050px;
    left: 500px; 
    visibility: hidden;
}
.car:hover .shine{
visibility: visible;
} 
.container{
    width: 800%;
    height: 300px;
    animation: move 250s linear infinite normal none;
    background: url("../img/cartoon.jpg");
}
@keyframes move {
	100% {
		transform: translateX(-100%);}
}
.main-header,
.header{
width: 100%;
height: 150px;
background: radial-gradient(circle, rgba(187,146,164,0.7567401960784313) 3%, rgba(41,189,121,1) 100%);;
padding: 50px;
}

.title{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}
.box-clock {
    background: url("../img/accent-wall.webp") center no-repeat;
    width: 100%;
    min-height: 700px;
    margin: 100px;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    bottom: 1000px;
    padding: 100px;
}
.clock {
    margin: 0 auto 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow:0 0  15px black inset;
}
.twelve {
    position: relative;
    left: 83px;
}
.six {
    position: relative;
    top: 137px;
    left: 90px;
}
.three {
    position: relative;
    left: 178px;
    top: 20px;
}
.nine {
    position: relative;
    bottom: 8px;
    left: 5px;
}
.center::before {
    content: "";
    width: 5px;
    height: 70px;
    background-color: black;
    position: relative;
    left: 5px;
    top: 5px;
    animation-name: arrow;
    animation-duration: 60s;
    animation-timing-function: steps(60);
    animation-iteration-count: infinite;
    transform-origin: 0px 0;
    box-shadow:5px 5px  5px black ;
}
.center::after {
    content: "";
    width: 5px;
    height: 60px;
    background-color: black;
    position: relative;
    right: 3px;
   bottom: 60px;
   box-shadow:5px 5px  5px black ;
}
.center{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    left: 95px;
    bottom: 25px;
    box-shadow:0 0  15px black ;
}
@keyframes arrow{
    100%{
        transform: rotate(360deg);
    }
}
.container-sea {
    background: rgb(255, 255, 255);
    width: 100%;
    min-height: 100%;
    height: 100%;
   overflow: hidden;
    position: relative;
    bottom: 700px;
  
display: flex;
justify-content: center;
align-items: center;
}
.sea {
width: 2800px;
height: 600px;
border-radius: 0 0 50px 50px;
transition: all 0.8s ease 0s;
display: flex;
justify-content: center;
align-items: center;
}
.wave {
    box-shadow: 0 0 50px inset rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 2800px;
height: 2800px;
background-color: #4973ff;

}
.wave::after,
.wave::before{
    content: "";
    position: absolute;
    top: 900px;
    left: 0;
    width: 100%;
    height: 20%;
    transform: translate(-10%, -6%);
}
.wave::before{
    background-color: rgb(255, 255, 255);
    border-radius: 49% 51% 51% 49% / 0% 0% 100% 100%;
    animation: waves 5s infinite linear;
}
.wave::after{
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 42% 55% 55% 40% / 0% 0% 100% 100%;
    animation: waves 25s infinite linear;
}
@keyframes waves{
    0%{
        transform: translate(-10%, -6%);
    }
    100%{
        transform: translate(-10%, -6%);
        transform: rotate(360deg);
    }
}
.img{
    position: relative;
    z-index: 3;
    width: 50px;
    bottom: 180px;
    right: 300px;
    animation:scale 15s infinite , ship 3s 	cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite alternate-reverse ;
    /* чомусь у мене працює лише остання підключена анімація. масштабування я не бачу  */
}
@keyframes ship{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-3deg);
    }
}
@keyframes scale{
    0%{
        transform: scale3d(.9, 0.9, 0.9 );
    }
    100%{
        transform: scale3d(1, 1, 1.1 );
    }
}
