@import url("fonts.css");
/* Скидання стилів */
@import url("reset.css");
a{
    display: inline-block;
}
*::after,
*::before{
    display: inline-block;
}
img{
    width: 100%;
}
.consulting1 {
    max-width: 635px;
    margin: 0 auto 100px;
}
.subtitle-consulting {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #37393F;
    line-height: 1.2;
}
.subtitle-consulting::before{
    content: "";
    background: url("../img/blue.jpg")0 0 no-repeat;
    width: 12px;
    height: 12px;
}
.title-consulting,
.title-consulting2 {
    max-width: 414px;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    color: #37393F;
}
.title-consulting2{
    max-width: 1220px;
    text-align: center;
}
.consalting2 .head{
    margin-bottom: 41px;
}
.head{
    margin-bottom: 20px;
}
.head>*:not(:last-child){
    margin-bottom: 20px;
}
.consulting-text,
.consulting-boxes p,
.block-text {
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #7D7D7D;
    line-height: 1.46;
}
.consulting-text{
    margin-bottom: 48px;
}
.consulting-text > *:not(:last-child){
    margin-bottom: 30px;
} 
.consulting-boxes {
margin-bottom: 48px;
}
.consalting-box1 {
    border:1px solid #E3E3E3;
    max-width: 675px;
    padding: 28px 41px 28px 38px;
    margin-bottom: 31px;
}
.consalting-box1 >*:not(:last-child),
.consalting-box2 >*:not(:last-child){
    margin-bottom: 20px;
}
.consalting-box1 p,
.consalting-box2 p{
    margin-left: 84px;
}
.benefits-img{
    max-width: 330px;
    margin-right: 30px;
    vertical-align: top;
    }
    .benefits-li li::before{
        content: "";
        background: url("../img/vector.jpg") 0 7px no-repeat;
        width: 27px;
        height: 27px;
        padding-left: 30px;
    }
    .benefits-li li{
        min-height: 28px;
    }
.our-mission ,
.our-vision::before{
    content: "";
    background: url("../img/vector.jpg") 32px center no-repeat;
    width: 28px;
    height: 28px;
    padding-left: 84px;
}
.consalting-box2 {
    border:1px solid #E3E3E3;
    max-width: 675px;
    padding: 28px 41px 28px 38px;
}
.our-mission ,
.our-vision{
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #37393F;
    line-height: 1.2;
    white-space: nowrap;
}
.button-more {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 1.2;
    color: #ffffff;
    background-color: #6B77E5;
    padding: 21px 35px 22px 35px;
}
.button-more:hover{
    background-color: #4f48b1;
}
.button-more:active{
    background-color: #646277;
    box-shadow:5px 5px 15px #37393F;
}
.consulting2 {
    max-width: 1220px;
    margin: 0 auto 100px;
}
.consulting2 .subtitle-consulting,
.consalting2 .title-consulting{
text-align: center;
}
.consulting-blocks img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-top: -72px;
}
.consulting-block1 ,
.consulting-block2,
.consulting-block3{
    background-color: #F4F4F4;
    border: 1px solid #F4F4F4;
    max-width: 386px;
    padding: 58px 43px;
    display: inline-block;
    text-align: center;
}
.consulting-block1 ,
.consulting-block2{
    margin-right: 20px;
}
.consalting-blocks .block-text p{
    margin-bottom: 37px;
}
.consulting-block-text >*:not(:last-child){
margin-bottom: 20px;
}
.consalting-blocks{
    padding-top: 36px;
    font-size: 0;
}
.block-title {
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #37393F;
    line-height: 1.27;
}
.testimonials {
    font-family: "Inter",sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #6B77E5;
}
.consalting-blocks .block-text p{
    margin-bottom: 37px;
}
.consulting3 {
    max-width: 692px;
    margin: 0 auto;
}
.text-block2 h5{
    color: #6B77E5;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.27;
}
.text-block2 p,
.benefits-li,
.text-block p{
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #7D7D7D;
    line-height: 1.46;
}
.benefits-li >*:not(:last-child){
    margin-bottom: 28px;
}
.title-consulting3 {
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.27;
    color: #37393F 
}
.text-block2 >*:not(:last-child),
.text-block >*:not(:last-child) {
margin-bottom: 20px;
}
.title-consulting3 {
}
.text-block,
.text-block2 {
    margin-bottom: 42px;
}
.container-benefits {
    width: 692px;
    font-size: 0;
    margin-bottom: 50px;
}
.box-benefits{
    display: inline-block;
max-width: 332px;
vertical-align: middle;
margin-top: -10px;
}
.benefits-img{
    display: inline-block;
}
.box-benefits h6{
    color:#37393F ;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.27;
    margin-bottom: 18px;
}
.box-benefits p{
    color:#40DDB6 ;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.27;
    margin-bottom: 23px;
}
.jewellery {
    max-width: 1214px;
    margin: 0 auto 100px;
    font-size: 0;
}
.left-block {
    max-width: 488px;
    display: inline-block;
}

.title-jew {
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.15;
    display: inline-block;
}
.title-jew ::after{
    content: "";
	display: block;
	height: 3px;
	width: 67%;
	background-color: #78473B;
	margin-top: 13px;
}
.right-block{
    font-size: 0;
    display: inline-block;
}
.photo-block1,
.photo-block2 {
    max-width: 334px;
    display: inline-block;
}
.photo-block1:last-child,
.photo-block2:last-child,
.left-block:last-child{
margin-bottom: 0;
}
.photo-block1,
.photo-block2{
    vertical-align: middle;
}
.photo-block1 {
    margin-right: 45px;
}
.photo-block1 :hover,
.photo-block2 a :hover{
    box-shadow: 5px 5px 15px #37393F;
}
.image-jew1,
.image-jew2 {
    width: 334px;
    height: 381px;
    margin-bottom: 27px;
}.price-jew1,
.price-jew2,
.text-jew2,
.text-jew1 {
    max-width: 232px;
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
}
.subtitle-jew {
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.13;
    margin-bottom: 31px;
}
.cons-list{
    max-width: 675px;
}
.cons-list :nth-child(odd){
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #37393F;
    line-height: 1.2;
    white-space: nowrap;
}
.cons-list :nth-child(even){
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #7D7D7D;
    line-height: 1.46;
}
.cons-list :nth-child(odd)::before{
    content: "";
    background: url("../img/vector.jpg") 32px center no-repeat;
    width: 28px;
    height: 28px;
    padding-left: 84px;
}
.cons-list  >*:not(:last-child){
    margin-bottom: 20px;
}
.cons-list :nth-child(n+1) {
    border:1px solid #E3E3E3;
    max-width: 675px;
    padding: 28px 41px 28px 38px;
    margin-bottom: 31px;
}